.footer{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: flex;
    width: 1600px;
    height: 165px;
}

.element_vector_bottom{
    margin-top: 65px;
    margin-left: -19px;
}

.logo_bottom{
    padding-left: 144.42px;
}

.bottom_circle_bg{
    background-color: #ffff; 
    color: #458FF6;
}

.articul2{
    color: #ffff;
}
.footer_nav ul{
    padding-top: 77.58px;
    display: flex;
    align-items: center;
    padding-left: 377.76px;
}

.nav__footer-item1{
    padding-right: 179.46px;
}

.nav__footer-item2{
    margin-right: 169.27px;
}

.footer__nav-link{
    color: #ffff;
}
