.header_container {
    display: flex;
    align-items: center;
    margin-top: 63px;
    justify-content: space-between;
}

.header_menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.top_nav ul {
    padding-top: 3.43;
    display: flex;
    align-items: center;
    margin-left: 191px;
}

.header__nav-item {
    padding-right: 42.62px;
}

.header__nav-link {
    opacity: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_top {
    margin-right: 10%;
}

.top_circle_bg {
    background-color: #458FF6;
    color: #ffffff;
}
